<div class="container-fluid mt-4">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0 mx-auto">
            <div class="card">
                <form [formGroup]="accountForm" class="contact-form py-5 px-lg-5" (submit)="submit()">
                    <div class="card-header">
                        <h2 class="mb-4 font-weight-medium text-secondary">Account</h2>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" formControlName="email" class="form-control"
                                    placeholder="Email">
                                <span *ngIf=" accountForm.get('email').touched &&  accountForm.get('email').errors"
                                    [innerHTML]="validationService.GetErrorMessages( accountForm.get('email').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="text-black" for="name">First Name</label>
                                <input type="text" id="name" class="form-control" formControlName="firstName">
                                <span
                                    *ngIf=" accountForm.get('firstName').touched &&  accountForm.get('firstName').errors"
                                    [innerHTML]="validationService.GetErrorMessages( accountForm.get('firstName').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lname">Last Name</label>
                                <input type="text" id="lname" class="form-control" formControlName="lastName">
                                <span
                                    *ngIf=" accountForm.get('lastName').touched &&  accountForm.get('lastName').errors"
                                    [innerHTML]="validationService.GetErrorMessages( accountForm.get('lastName').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="phone">Phone #</label>
                                <input type="text" id="phone" formControlName="phone" class="form-control" />
                                <span *ngIf=" accountForm.get('phone').touched &&  accountForm.get('phone').errors"
                                    [innerHTML]="validationService.GetErrorMessages( accountForm.get('phone').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="address">Address </label>
                                <textarea type="text" id="address" formControlName="address" class="form-control"
                                    rows="5"></textarea>
                                <span *ngIf=" accountForm.get('address').touched &&  accountForm.get('address').errors"
                                    [innerHTML]="validationService.GetErrorMessages( accountForm.get('address').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>


                        <div class="row form-group mt-4">
                            <div class="col-md-6 d-flex justify-content-center">
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <input type="button" class="btn btn-sm btn-primary" value="Change Password"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>My Profile</h1>
            <input type="button" class="btn btn-sm btn-primary" value="Change Password" data-bs-toggle="modal"
                data-bs-target="#exampleModal" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>First Name : </b>
        </div>
        <div class="col-md-3">{{profile.firstName}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>Last Name : </b>
        </div>
        <div class="col-md-3">{{profile.lastName}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>Email : </b>
        </div>
        <div class="col-md-3">{{profile.email}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>Phone : </b>
        </div>
        <div class="col-md-3">{{profile.phone}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>Address : </b>
        </div>
        <div class="col-md-4">{{profile.address}}</div>

    </div>
</div> -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="changePasswordForm" (submit)="submitPassword()">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="email">Old Password</label>
                            <input type="password" id="title" class="form-control" formControlName="oldPassword">
                            <span
                                *ngIf=" changePasswordForm.get('oldPassword').touched &&  changePasswordForm.get('oldPassword').errors"
                                [innerHTML]="validationService.GetErrorMessages( changePasswordForm.get('oldPassword').errors)"
                                class="text-danger">

                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="email">New Password</label>
                            <input type="password" id="title" class="form-control" formControlName="newPassword">
                            <span
                                *ngIf=" changePasswordForm.get('newPassword').touched &&  changePasswordForm.get('newPassword').errors"
                                [innerHTML]="validationService.GetErrorMessages( changePasswordForm.get('newPassword').errors)"
                                class="text-danger">

                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="resetForm()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>