<!-- Back to top button -->
<div class="back-to-top"></div>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="300">
    <div class="container">
      <a routerLink="/" class="navbar-brand"><img src="../assets/img/ScroleLogo.png" style="width: 150px;margin-left: 17px;" /> </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapsed" style="margin-left: 17px;" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" style="color: #8d949e;">Trending</a>
          </li>
          <li class="nav-item" >
            <div class="dropdown">
            <a class="nav-link" routerLink="/viewstore" style="color: #8d949e;">Brands</a>
            <!-- <div class="dropdown-content" *ngFor="let storeTypes of storeTypes">
              <a href="#">{{storeTypes.StoreTypeTitle}}</a>
              
              </div> -->
              <div class="dropdown-content">
                <!-- <a (click)="getStoreByStoreTypeId(storeTypes)">{{storeTypes.storeTypeTitle}}</a> -->
              <a *ngFor="let storeTypes of storeTypes" routerLink="../viewstore/{{storeTypes.storeTypeID}}">{{storeTypes.storeTypeTitle}}</a>
             <!-- <a >Link1</a> -->
             
            </div>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>-->
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" routerLink="/store/stores" style="color: #8d949e;">Stores</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" href="/auth/profile" style="color: #8d949e;">My Account</a>
          </li>
          <li *ngIf="isLogin" class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logOut()" style="color: #8d949e;">Logout</a>
          </li>
          <li *ngIf="!isLogin" class="nav-item">
            <a class="nav-link" routerLink="/auth/login" style="color: #8d949e;">Login</a>
          </li>
          <!-- <li *ngIf="!isLogin" class="hidden nav-item" style="color: #000000;">
            <a class="btn btn-primary ml-lg-2" routerLink="/auth/register">Get Free Account</a>
          </li> -->
        </ul>
      </div>

    </div>
  </nav>
</header>
<div class="_7kd5" style="padding-top: 20px;padding-bottom: 0px;"></div>
<div class="page-section _8n-x">
  <router-outlet></router-outlet>

</div>

<footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
  <div class="container">
    <!-- <div class="row mb-5">
      <div class="col-lg-3 py-3">
        <a routerLink="/" class="navbar-brand"><img src="../assets/img/ScroleLogo_foot.png" style="width: 150px;" />
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet, repellendus eius blanditiis in iusto
          eligendi iure.</p>

        <div class="social-media-button">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-google-plus-g"></span></a>
          <a href="#"><span class="mai-logo-instagram"></span></a>
          <a href="#"><span class="mai-logo-youtube"></span></a>
        </div>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Company</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Help & Support</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Contact Us</h5>
        <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
        <a href="#" class="footer-link">+00 1122 3344 5566</a>
        <a href="#" class="footer-link">seogram@temporary.com</a>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Newsletter</h5>
        <p>Get updates, news or events on your mail.</p>
        <div>
          <input type="text" class="form-control" placeholder="Enter your email..">
          <button type="submit" class="btn btn-success btn-block mt-2">Subscribe</button>
        </div>
      </div>
    </div> -->

    <p class="text-center" id="copyright">Copyright &copy; 2021 Scrole. Powered by <a
        href="https://www.vemuz.com/" target="_blank">Vemuz Mobile</a></p>
  </div>
</footer>