.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .itemTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 ._9b9p {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 2px 8px;
    box-sizing: border-box;
    overflow: visible;
}

._99s6 {
    background-color: #fff;
    /* margin-bottom: 24px; */
    margin-left: 16px;
}

._9b9u {
    color: #1c1e21;
    height: 70PX;
    padding: 16px 16px 8px 16px;
  
}

.rbzcxh88 {
    margin-bottom: 0;
}
.qbdq5e12 {
    margin-top: 0;
}
.pcqs8rfr {
    height: 0;
}
.mr4k7n6j {
    background-color: transparent;
}
.j90q0chr {
    margin-right: 0;
}
.h8e39ki1 {
    margin-left: 0;
}
.ralnb31v {
    border-left-color: var(--geodesic-color-border-element-default-active);
}
.orxfpuly {
    border-bottom-color: var(--geodesic-color-border-element-default-active);
}
.mso6dn0j {
    border-top-color: var(--geodesic-color-border-element-default-active);
}
.gg04it2x {
    border-right-color: var(--geodesic-color-border-element-default-active);
}
.cji8xsup {
    border-bottom-width: 1px;
}
.avm085bc {
    border-bottom-style: solid;
}
hr {
    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px;
}

._7jwy {
    min-height: 250px;
    width: 100%;
} 
 ._7jyg {
    background-color: #fff;
    position: relative;
    z-index: inherit;
}
._7kfi {
    border-radius: 0 0 3px 3px;
    width: 100%;
} 
._7kd5 {
    border-top: 1px solid #ebedf0;
    margin-left:  16px;
    margin-right: 2px;
    
}
._3-8k {
    margin: 16px;
}
.mue9ndml {
    border-bottom-right-radius: 6px;
}
.h1h4usya {
    border-bottom-left-radius: 6px;
}
.do23leof {
    border-top-left-radius: 6px;
}
.a6u30k36 {
    border-top-right-radius: 6px;
}
.yukb02kx {
    flex-grow: 1;
}
.wy1fu5n8 {
    -webkit-font-smoothing: antialiased;
}
.svsqgeze {
    cursor: pointer;
}
.s7wjoji2 {
    position: relative;
}
.rwb8dzxj {
    display: flex;
}
.rgsc13q7 {
    min-height: 0;
}
.rbzcxh88 {
    margin-bottom: 0;
}
.qnhs3g5y {
    font-weight: var(--geodesic-color-interactive-background-wash-text-weight);
}
.qbdq5e12 {
    margin-top: 0;
}
.puibpoiz {
    box-sizing: border-box;
}
.pt6x234n {
    padding-right: var(--geodesic-spacing-control-internal-coarse);
}
.pqsl77i9 {
    color: var(--geodesic-color-interactive-background-wash-text-active);
}
.nmystfjm {
    -webkit-user-select: none;
}
.llt6l64p {
    padding-top: var(--geodesic-spacing-control-internal-vertical);
}
.lcvupfea {
    border-bottom-left-radius: var(--geodesic-appearance-radius-control);
}
.kojzg8i3 {
    vertical-align: middle;
}
.jztyeye0 {
    text-align: inherit;
}
.jdcxz0ji {
    touch-action: manipulation;
}
.j90q0chr {
    margin-right: 0;
}
.hkz453cq {
    border-top-left-radius: var(--geodesic-appearance-radius-control);
}
.hk3wrqk2 {
    padding-left: var(--geodesic-spacing-control-internal-coarse);
}
.har4n1i8 {
    flex-basis: auto;
}
.h8e39ki1 {
    margin-left: 0;
}
.g1fckbup {
    -webkit-tap-highlight-color: transparent;
}
.frrweqq6 {
    z-index: 0;
}
.duy2mlcu {
    flex-shrink: 1;
}
.dkjikr3h {
    border-top-right-radius: var(--geodesic-appearance-radius-control);
}
.diwav8v6 {
    flex-direction: row;
}
.dfy4e4am {
    align-items: center;
}
.ch6zkgc8 {
    background-color: var(--geodesic-color-interactive-background-wash-idle);
}
.bmtosu2b {
    padding-bottom: var(--geodesic-spacing-control-internal-vertical);
}
.ay1kswi3 {
    border-bottom-right-radius: var(--geodesic-appearance-radius-control);
}
.a53abz89 {
    min-width: 0;
}
.spzutpn9 {
    border-left-width: 0;
}
.sdgvddc7 {
    border-top-color: var(--always-dark-overlay);
}
.rpcniqb6 {
    border-left-color: var(--always-dark-overlay);
}
.qhe9tvzt {
    border-bottom-width: 0;
}
.okyvhjd0 {
    border-bottom-color: var(--always-dark-overlay);
}
.ojz0a1ch {
    border-right-style: solid;
}
.njc9t6cs {
    border-right-width: 0;
}
.mtc4pi7f {
    border-left-style: solid;
}
.jza0iyw7 {
    border-top-width: 0;
}
.jytk9n0j {
    border-top-style: solid;
}
.b8b10xji {
    border-right-color: var(--always-dark-overlay);
}
.avm085bc {
    border-bottom-style: solid;
}
.rqkdmjxc {
    border-left: none;
}
.f1dwqt7s {
    border-bottom: none;
}
.c332bl9r {
    border-right: none;
}
.b1hd98k5 {
    border-top: none;
}
.qnavoh4n {
    outline: none;
}
.h706y6tg {
    list-style: none;
}
.d5rc5kzv {
    text-decoration: none;
}
.tds9wb2m {
    width: 100%;
}
.svz86pwt {
    white-space: inherit;
}
.qwtvmjv2 {
    color: inherit;
}
.qku1pbnj {
    font-family: var(--geodesic-type-size-value-font-family)!important;
}
.j8otv06s {
    font-size: calc((var(--geodesic-type-size-value-font-size)/16) * 1rem)!important;
}
.ippphs35 {
    font-weight: inherit;
}
.a53abz89 {
    min-width: 0;
}
.a1itoznt {
    line-height: var(--geodesic-type-size-value-line-height)!important;
}
#facebook ._-kb div {
    font-family: inherit;
}
.wy1fu5n8 {
    -webkit-font-smoothing: antialiased;
}
.svsqgeze {
    cursor: pointer;
}
.qnhs3g5y {
    font-weight: var(--geodesic-color-interactive-background-wash-text-weight);
}
.pqsl77i9 {
    color: var(--geodesic-color-interactive-background-wash-text-active);
}
.nmystfjm {
    -webkit-user-select: none;
}
.jztyeye0 {
    text-align: inherit;
}
.g1fckbup {
    -webkit-tap-highlight-color: transparent;
}
.h706y6tg {
    list-style: none;
}
.d5rc5kzv {
    text-decoration: none;
}

.okhlmt8k {
    padding-right: 8px;
}
.mqtak6cv {
    padding-top: 4px;
}
.mmssj31t {
    padding-bottom: 4px;
}
.iohei9zn {
    text-align: center;
}
.ihd31vdf {
    padding-left: 8px;
}
user agent stylesheet
div {
    display: block;
}
#facebook ._-kb span {
    font-family: inherit;
}
.svz86pwt {
    white-space: inherit;
}
.qwtvmjv2 {
    color: inherit;
}
.qku1pbnj {
    font-family: var(--geodesic-type-size-value-font-family)!important;
}
.j8otv06s {
    font-size: calc((var(--geodesic-type-size-value-font-size)/16) * 1rem)!important;
}
.ippphs35 {
    font-weight: inherit;
}
.a1itoznt {
    line-height: var(--geodesic-type-size-value-line-height)!important;
}
.wy1fu5n8 {
    -webkit-font-smoothing: antialiased;
}
.svsqgeze {
    cursor: pointer;
}
.qnhs3g5y {
    font-weight: var(--geodesic-color-interactive-background-wash-text-weight);
}
.pqsl77i9 {
    color: var(--geodesic-color-interactive-background-wash-text-active);
}
.nmystfjm {
    -webkit-user-select: none;
}
.jztyeye0 {
    text-align: inherit;
}
.g1fckbup {
    -webkit-tap-highlight-color: transparent;
}
.h706y6tg {
    list-style: none;
}
.d5rc5kzv {
    text-decoration: none;
}
.te7ihjl9 {
    color: var(--geodesic-color-text-value-default-active);
}
.qku1pbnj {
    font-family: var(--geodesic-type-size-value-font-family)!important;
}
.mcogi7i5 {
    overflow-y: hidden;
}
.lgsfgr3h {
    overflow-x: hidden;
}
.kiex77na {
    white-space: nowrap;
}
.jrvjs1jy {
    font-weight: normal;
}
.jo61ktz3 {
    text-align: center;
}
.ih1xi9zn {
    text-overflow: ellipsis;
}
.ga2uhi05 {
    line-height: var(--geodesic-type-size-header3-line-height)!important;
}
.bnyswc7j {
    font-size: calc((var(--geodesic-type-size-header3-font-size)/16) * 1rem)!important;
}
.a53abz89 {
    min-width: 0;
}
user agent stylesheet
div {
    display: block;
}
.iohei9zn {
    text-align: center;
}
#facebook ._-kb span {
    font-family: inherit;
}
.svz86pwt {
    white-space: inherit;
}
.qwtvmjv2 {
    color: inherit;
}
.j8otv06s {
    font-size: calc((var(--geodesic-type-size-value-font-size)/16) * 1rem)!important;
}
.ippphs35 {
    font-weight: inherit;
}
.a1itoznt {
    line-height: var(--geodesic-type-size-value-line-height)!important;
}
.wy1fu5n8 {
    -webkit-font-smoothing: antialiased;
}
.svsqgeze {
    cursor: pointer;
}
.qnhs3g5y {
    font-weight: var(--geodesic-color-interactive-background-wash-text-weight);
}
.pqsl77i9 {
    color: var(--geodesic-color-interactive-background-wash-text-active);
}
.nmystfjm {
    -webkit-user-select: none;
}
.jztyeye0 {
    text-align: inherit;
}
.g1fckbup {
    -webkit-tap-highlight-color: transparent;
}
.h706y6tg {
    list-style: none;
}
.d5rc5kzv {
    text-decoration: none;
}