<!-- <div class="_7kd5" style="padding-top: 20px;padding-bottom: 20px;"></div>-->

<div class="row" style="margin-left: 6px; margin-right: 6px; padding-bottom: 20px; box-shadow: #e9eaeb 0 2px 8px;">
  <div class="col-md-12" style="margin-left: 9%; min-width: 1400px; margin-right: 13%;">
    <div class="form-search-blog">
      <div class="input-group">
        <div class="input-group-prepend">
          <select id="categories" class="custom-select" style="height:42px;background-color: #ffff;color: #000000;border-radius: 8px;border-color: #d6dbd9;">
            <option>All Categories</option>
            <option value="travel">Travel</option>
            <option value="lifestyle">LifeStyle</option>
            <option value="healthy">Healthy</option>
            <option value="food">Food</option>
          </select>
        </div>
        <input type="text" style="margin-left: 5px; border-radius: 8px; height: 42px; margin-right: 17%;" class="form-control" placeholder="Enter keyword.."
          (input)="searchProducts($event.target.value)">
      </div>
    </div>
  </div>
  
</div>

<div class="_7kd5" style="padding-bottom: 20px;padding-top: 20px;"></div>

<div class="container">
  <div class="row" style="padding-top: 20;"></div>
  <hr style="margin-left: 16px !important;margin-right: 2px !important; background-color: #000000;">
  <div class="row" style="float: right;" >
    <div class="col-md-4">
    <button class="btn btn-secondary" data-bs-toggle="modal" style="background-color: #F2F3F5;color: #000000;width: 122px;border-radius: 8px;" data-bs-target="#exampleModal">
      <i class="fa fa-filter" aria-hidden="true"></i> <span style="margin-left: 5px;">Filter</span></button>
    </div>
  </div>
  <div class="row"></div>
  <div class="row" *ngIf="storeId > 0" style="margin-left: 6px;">
    <div class="col-md-4" >
      <img  alt="" class="img-responsive" style="padding-top: 52px; width: 360px; height: auto;" 
      src="{{apiUrl+storeUrls[0].thumbnailUrl}}"></div><!--bindings={
    "ng-reflect-ng-if": "true"
  }--><div class="col-md-8" style="padding-top: 52px;">
    <h4>{{storeUrls[0].title}}</h4>
    <p>
      {{storeUrls[0].description}}
  </p>
</div>
</div>

  <div id="prodholder" class="row my-5" style="--bs-gutter-x: 0.5rem;" infinite-scroll (scrolled)="onScrollDown($event)">

    <div *ngFor="let item of resutlProducts" class="col-lg-4 py-3">
      <div *ngIf="item.store" class="_99s5 _9b9p _99s6">
        <div class="_9b9u" style="cursor: pointer;" (click)="loadRelatedStoreItems(item.store.id)">
          <div class="row">
            <div class="col-md-2">
              <a *ngIf="item.store" href="{{item.store.siteUrl+'products/'+item.handle}}">
                <img *ngIf="!item.store || !item.store.storeIcon" src="../../assets/img/ScroleLogo.png"
                  class="rounded-circle" style="height: 35px; width: 35px;" />
              </a>

              <a *ngIf="item.store" href="{{item.store.siteUrl+'products/'+item.handle}}">
                <img *ngIf="item.store && item.store.storeIcon" src="{{apiUrl+item.store.storeIcon}}"
                  class="rounded-circle" style="height: 35px; width: 35px;" />
              </a>
            </div>
            <div class="col-md-10" style="margin-top: 5px;">
              <a *ngIf="item.store" href="{{item.store.siteUrl+'products/'+item.handle}}"><b
                  *ngIf="item.store" style="color:#444950
                ;">{{item.store.title}}</b></a>
              <b *ngIf="!item.store">Scrole</b>
            </div>
          </div>
        </div>
        <hr
          class="mr4k7n6j cji8xsup avm085bc pcqs8rfr qbdq5e12 j90q0chr rbzcxh88 h8e39ki1 mso6dn0j gg04it2x orxfpuly ralnb31v">
        <div class="_7jwy _7jyg">
          <div class="post-thumb" style="height: auto;">
            <img *ngIf="!item.images" src="https://i.stack.imgur.com/y9DpT.jpg" style="height: 100%; width: 100%;">
            <img *ngIf="item.images" src="{{item.images[0].src}}" alt="" style="height: 100%; width: 100%;">
          </div>
          <!-- <hr style="margin: 0;" /> -->
          <div class="row" style="padding-left: 1rem;padding-right: 1rem;">
            <div class="col-md-12">
              <div class="text-muted" style="padding-top: 5px;
              padding-bottom: 5px;">
              
         <b class="itemTitle" style="color: #444950;"> <p style="margin-bottom: 0;"> {{item.title}}</p></b>
              </div>
            </div>
          </div>

          <!-- <hr style="margin: 0;" /> -->
          <div class="row" style="padding-left: 1rem;padding-right: 1rem;">
            <div class="col-md-12">
              <div class="text-muted" style="padding-top: 5px;
              padding-bottom: 5px;">
                <b style="color: #444950;">Price </b> {{item.price}}
              </div>
            </div>
          </div>

          <!-- <hr style="margin: 0;" /> -->
          <div class="row" style="padding-left: 1rem;padding-right: 1rem; height: 75px;"  >
            <div class="col-md-12">
              <p style="max-height: 150px; overflow-x: auto;" class="text card-text" [innerHtml]="item.body_html"></p>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer text-muted text-center" style="background-color: rgba(24,44,108,0.75);">
          <a *ngIf="item.store" href="{{item.store.siteUrl+'products/'+item.handle}}" target="_blank"
            class="btn btn-primary" style="background-color: #182c6c;">Buy This Product</a>
          <a *ngIf="!item.store" target="_blank" class="btn btn-primary disabled">Buy it Now </a>
        </div> -->
        <div class="_7kfi">
          <!-- <div class="_7kd5"></div> -->
          <div class="_3-8k">
            <div class="h1h4usya mue9ndml a6u30k36 do23leof">
              <div aria-label="See ad details"
                class="g1fckbup dfy4e4am ch6zkgc8 sdgvddc7 b8b10xji okyvhjd0 rpcniqb6 jytk9n0j ojz0a1ch avm085bc mtc4pi7f jza0iyw7 njc9t6cs qhe9tvzt spzutpn9 puibpoiz svsqgeze rwb8dzxj har4n1i8 diwav8v6 duy2mlcu h706y6tg qbdq5e12 j90q0chr rbzcxh88 h8e39ki1 rgsc13q7 a53abz89 llt6l64p pt6x234n bmtosu2b hk3wrqk2 s7wjoji2 jztyeye0 d5rc5kzv jdcxz0ji frrweqq6 qnavoh4n kojzg8i3 b1hd98k5 c332bl9r f1dwqt7s rqkdmjxc nmystfjm m33fj6rl wy1fu5n8 chuaj5k6 yukb02kx hkz453cq dkjikr3h ay1kswi3 lcvupfea qnhs3g5y pqsl77i9"
                role="button" tabindex="0"><span
                  class="qku1pbnj j8otv06s ippphs35 a1itoznt qwtvmjv2 svz86pwt a53abz89 tds9wb2m">
                  <div class="okhlmt8k ihd31vdf mqtak6cv mmssj31t iohei9zn">
                    <div aria-level="3"
                      class="qku1pbnj bnyswc7j jrvjs1jy ga2uhi05 te7ihjl9 kiex77na jo61ktz3 lgsfgr3h mcogi7i5 ih1xi9zn a53abz89"
                      role="heading">
                    <a *ngIf="item.store" href="{{item.store.siteUrl+'products/'+item.handle}}" target="_blank"
            class="btn btn-primary" style="background-color: #F2F3F5; width: 95%; color: #444950;">Buy This Product</a>
          <a *ngIf="!item.store" target="_blank" class="btn btn-primary disabled">Buy it Now </a>
                    </div>
                  </div>
                </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="hdnPager" value="0" />
  </div>

  <!-- <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> -->

</div>
<div class="row">
</div> 
<div class="_7kd5" style="padding-top: 20px !important;padding-bottom: 20px !important;"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="filterForm" (submit)="setFilters()">
        <div class="modal-body">
          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="email">Store</label>
              <select class="form-control" formControlName="store">
                <option>Select Store</option>
                <option *ngFor="let item of storeUrls" value="{{item.id}}">{{item.title}}</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label class="text-black" for="email">Min Price</label>
              <input type="number" min="0" id="title" class="form-control" formControlName="minprice">
            </div>
            <div class="col-md-6">
              <label class="text-black" for="email">Max Price</label>
              <input type="number" id="title" class="form-control" formControlName="maxprice">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Reset</button>
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    </div>
  </div>
</div>