<div class="container-fluid mt-4">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">URL</th>
                    <th scope="col">
                        Action
                        <a href="javascript:void(0)" id="btn_modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            +
                        </a>
                        <!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal" > +</a> -->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of stores; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.siteUrl}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="delete(item.id)">Delete</a>
                         | <a href="javascript:void(0)" (click)="openEdit(item.id)">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Store</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="storeFrom" (submit)="submit()">
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-md-8">
                    <label class="text-black" for="email">Title</label>
                    <input type="text" id="title" class="form-control" formControlName="title">
                    <span *ngIf=" storeFrom.get('title').touched &&  storeFrom.get('title').errors"
                        [innerHTML]="validationService.GetErrorMessages( storeFrom.get('title').errors)"
                        class="text-danger">

                    </span>
                </div>
                <div class="col-md-4">
                    <img id="img" src="{{imageUrl}}" style="width: 100%;height: 100%;" (click)="openFile()" />
                    <input type="file" id="flImg" style="display: none;" (change)="imgPreviwe($event)" />
                </div>
            </div>

            <div class="row form-group">

                <div class="col-md-12">
                    <label class="text-black" for="url">Site Url</label>
                    <input type="text" id="url" class="form-control" formControlName="siteUrl">
                    <span *ngIf=" storeFrom.get('siteUrl').touched &&  storeFrom.get('siteUrl').errors"
                        [innerHTML]="validationService.GetErrorMessages( storeFrom.get('siteUrl').errors)"
                        class="text-danger">

                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <label class="text-black" for="password">Description</label>
                    <textarea class="form-control" formControlName="description" rows="7"></textarea>
                    <span *ngIf=" storeFrom.get('description').touched &&  storeFrom.get('description').errors"
                        [innerHTML]="validationService.GetErrorMessages( storeFrom.get('description').errors)"
                        class="text-danger">
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
  </div>