<div class="container-fluid mt-4">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0 mx-auto">
            <div class="card">
                <form [formGroup]="registerForm" class="contact-form py-5 px-lg-5" (submit)="submit()">
                    <div class="card-header">
                        <h2 class="mb-4 font-weight-medium text-secondary">Register</h2>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12 text-danger">
                                {{errorMessage}}
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" formControlName="email" class="form-control"
                                    placeholder="Email">
                                <span *ngIf=" registerForm.get('email').touched &&  registerForm.get('email').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('email').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label class="text-black" for="name">First Name</label>
                                <input type="text" id="name" class="form-control" formControlName="firstName">
                                <span *ngIf=" registerForm.get('firstName').touched &&  registerForm.get('firstName').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('firstName').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lname">Last Name</label>
                                <input type="text" id="lname" class="form-control" formControlName="lastName">
                                <span *ngIf=" registerForm.get('lastName').touched &&  registerForm.get('lastName').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('lastName').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="phone">Phone #</label>
                                <input type="text" id="phone" formControlName="phone" class="form-control" />
                                <span *ngIf=" registerForm.get('phone').touched &&  registerForm.get('phone').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('phone').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="address">Address </label>
                                <textarea type="text" id="address" formControlName="address" class="form-control" rows="5"
                                    ></textarea>
                                <span *ngIf=" registerForm.get('address').touched &&  registerForm.get('address').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('address').errors)"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="text-black" for="password">Password</label>
                                <input type="password" id="password" class="form-control" formControlName="password">

                                <span *ngIf=" registerForm.get('password').touched &&  registerForm.get('password').errors"
                                    [innerHTML]="validationService.GetErrorMessages( registerForm.get('password').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>

                        <div class="row form-group mt-4">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Register" class="btn btn-primary">
                            </div>
                            <span>Already have account? <a routerLink="/auth/login">Login</a></span>
                        </div>
                        <div class="row form-group mt-4">
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-facebook"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-google"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-linkedin"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>