<div class="container-fluid mt-4">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0 mx-auto">
            <div *ngIf="showEmail" class="card">
                <form [formGroup]="reseEmailForm" class="contact-form py-5 px-lg-5" (submit)="submit()">
                    <div class="card-header">
                        <h2 class="mb-4 font-weight-medium text-secondary">Reset Password</h2>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12 text-danger">
                                {{errorMessage}}
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" class="form-control" formControlName="email">
                                <span *ngIf=" reseEmailForm.get('email').touched &&  reseEmailForm.get('email').errors"
                                    [innerHTML]="validationService.GetErrorMessages( reseEmailForm.get('email').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>



                        <div class="row form-group mt-4">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Send Code" class="btn btn-primary">
                            </div>
                            <span>Go to <a routerLink="/auth/login">login</a> now!</span>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="!showEmail" class="card">
                <form [formGroup]="resePassworForm" class="contact-form py-5 px-lg-5" (submit)="resetPassword()">
                    <div class="card-header">
                        <h2 class="mb-4 font-weight-medium text-secondary">Reset Password</h2>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12 text-danger">
                                {{errorMessage}}
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" class="form-control" formControlName="email">
                                <span *ngIf=" resePassworForm.get('email').touched &&  resePassworForm.get('email').errors"
                                    [innerHTML]="validationService.GetErrorMessages( resePassworForm.get('email').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="pwd">New Password</label>
                                <input type="password" id="pwd" class="form-control" formControlName="password">
                                <span *ngIf=" resePassworForm.get('password').touched &&  resePassworForm.get('password').errors"
                                    [innerHTML]="validationService.GetErrorMessages( resePassworForm.get('password').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="token">Email</label>
                                <input type="email" id="token" class="form-control" formControlName="token">
                                <span *ngIf=" resePassworForm.get('token').touched &&  resePassworForm.get('token').errors"
                                    [innerHTML]="validationService.GetErrorMessages( resePassworForm.get('token').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>



                        <div class="row form-group mt-4">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Reset Password" class="btn btn-primary">
                            </div>
                            <span>Go to <a routerLink="/auth/login">login</a> now!</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>