  <div class="container">
    <div class="row">
      <div style="margin-left: 18px;margin-right: 18px;width: 98%;">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching by store name">
    </div>
  </div>
    <div id="prodholder" class="row my-5" infinite-scroll>

        <div *ngFor="let item of stores | filter:searchText" class="col-lg-4 py-3">
          <div class="_99s5 _9b9p _99s6" style="cursor: pointer;" (click)="loadItemByStoreId(item)">
            <div _ngcontent-nor-c56="" class="_9b9u">
              <div _ngcontent-nor-c56="" class="row">
                <div _ngcontent-nor-c56="" class="col-md-2"><a _ngcontent-nor-c56="">
            </a><a *ngIf="item.storeIcon" _ngcontent-nor-c56="">
              <img class="rounded-circle" style="height: 35px; width: 35px;" 
              src="{{apiUrl+item.storeIcon}}">
            </a>
            <a *ngIf="!item.storeIcon">
              <img  src="../../assets/img/ScroleLogo.png"
                class="rounded-circle" style="height: 35px; width: 35px;" />
            </a>
          </div>
          <div class="col-md-10" style="margin-top: 5px;"></div></div></div>
            <hr
              class="mr4k7n6j cji8xsup avm085bc pcqs8rfr qbdq5e12 j90q0chr rbzcxh88 h8e39ki1 mso6dn0j gg04it2x orxfpuly ralnb31v">
            <div class="_7jwy _7jyg">
              <div class="post-thumb" style="height: auto;">
                <img *ngIf="item.thumbnailUrl" src="{{apiUrl+item.thumbnailUrl}}" alt="" style="height: 100%; width: 100%;">
              </div>
              <hr style="margin: 0;" />
              <div class="row " style="padding-left: 1rem;padding-right: 1rem;height: 70px;color: black;" >
                <div class="col-md-12 item-title" style="padding-top: 20px;">
                   <b> <span>{{item.title}}</span></b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
  </div>