<div class="container-fluid mt-4">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0 mx-auto">
            <div class="card">
                <form [formGroup]="loginForm" class="contact-form py-5 px-lg-5" (submit)="submit()">
                    <div class="card-header">
                        <h2 class="mb-4 font-weight-medium text-secondary">Login</h2>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12 text-danger">
                                {{errorMessage}}
                            </div>
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" class="form-control" formControlName="username">
                                <span *ngIf=" loginForm.get('username').touched &&  loginForm.get('username').errors"
                                    [innerHTML]="validationService.GetErrorMessages( loginForm.get('username').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="text-black" for="password">Password</label>
                                <input type="password" id="password" class="form-control" formControlName="password">
                                <span *ngIf=" loginForm.get('password').touched &&  loginForm.get('password').errors"
                                    [innerHTML]="validationService.GetErrorMessages( loginForm.get('password').errors)"
                                    class="text-danger">

                                </span>
                            </div>
                            <span>Forget Password? <a routerLink="/auth/forgetpassword">Reset</a></span>
                        </div>

                        <div class="row form-group mt-4">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Login" class="btn btn-primary">
                            </div>
                            <span>Don't have account? <a routerLink="/auth/register">Register</a> now!</span>
                        </div>
                        <div class="row form-group mt-4">
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-facebook"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-google"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="display-4 text-center text-primary"><span class="mai-logo-linkedin"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>